h1.header {
    background-color: gold;
    color: purple;
    text-align: center;
    font-family: Cambria;
    font-size: 100px;
    padding: 100px;
    text-shadow: 4px 4px 8px #aaa; /* l/w/h */
    border: 5px solid purple;
}

.bio {
    background-color: #fff8dc;
    padding: 30px;
    border-radius: 50px; 
    border: 1px solid black;  /* thickness, style, color */


}

.bio h1 {
    font-family: Cambria;
    font-size: 50px;
    text-align: center;
    margin-top: -10px;
    text-shadow: 2px 2px 4px #aaa;
    color: rgb(102, 60, 60)
}  

.bio p {
    font-family: Calibri; 
    color: #333333;
    text-align: justify;  
}

a {
    color: darkblue; 
}

a:hover {
    text-decoration: underline;
    color: #ff8c00;
}

#accolades {
    background-color: #e3ffdc;
    font-family: Calibri;
    padding: 10px;
}

#accolades h3 {
    font-family: Cambria;
    font-size: 25px;

}

#accolades h2 {
    text-align: center; 
    font-family: Cambria;
    font-size: 50px;
    text-shadow: 2px 2px 4px #aaaaaa;
    color: rgb(255, 217, 0);
}

#accolades img {
    display: block;
    margin: auto; 
    width: 25%;
}

.caption {
    margin: 0px;
    text-align: center;
}



