h1.header {
    background-color: rgb(224, 224, 0);
    color: purple;
    text-align: center;
    font-family: Cambria;
    font-size: 100px;
    padding: 100px;
    text-shadow: 4px 4px 8px #aaa;
}

.bio {
    background-color: #fff8dc;
    padding: 30px;
    border-radius: 50px; 
    outline-color: black;

}

.bio h1 {
    font-family: Cambria;
    text-align: center;
    margin-top: -10px;
    text-shadow: 1px 1px 2px #aaa;
    
}  

.bio p {
    font-family: Calibri; 
    color: #333333;
    text-align: justify;  
}

a {
    color: darkblue; 
}

a:hover {
    text-decoration: underline;
    color: #ff8c00;
}

#accolades {
    background-color: #e3ffdc;
    font-family: Calibri;
}

#accolades h2 {
    text-align: center; 
    font-family: Cambria;

}

#accolades img  {
    text-align: center;
    
}

